/* Add CSS Styling */

.odd{
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.cool{
    font-size: 24px;
}

#even1{
    color: #0000ff;
    font-size: 36px;
}

#even2{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}